.App {
  text-align: center;
  background-color: #264653;
  min-height: 100vh;
  padding: 40px 32px 40px 32px;
}

.Movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(342px, 1fr));
  grid-gap: 32px;
  padding-top: 20px;
}

.Movie {
  flex: auto;
  min-width: 0;
}

.SearchBar {
  width: 100%;
  max-width: 31.25rem;
  margin: 6rem auto;
  margin-bottom: 6rem;
}

@media (max-width: 800px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .movie-grid {
    grid-template-columns: 1fr;
  }
}