.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Poster Title"
      "Poster Overview";
  }

.Poster { grid-area: Poster; }

.Title { grid-area: Title; }

.Overview { grid-area: Overview; }
  