.container {  
  display: grid;
  width: 684px;
  height: 513px;
  border-radius: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.8fr 2fr;
  gap: 0px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "Poster Title"
    "Poster Overview";
  background-color: white;
  margin: 0 auto;
}

.Poster { 
  grid-area: Poster; 
}

.Poster > img {
  border-radius: 40px 0 0 40px;
}

.Title { grid-area: Title; }

.Overview { grid-area: Overview; }
  